@use "./layouts/global";
@use "./layouts/header";
@use "./layouts/landing";
@use "./layouts/servess";
@use "./layouts/projects";
@use "./layouts/about";
@use "./layouts/contact";
@use "./layouts/footer";
@use "./mixens/mixen" as *;
//
//
//
//
//
//
//
//
//
//
//
//the styling for the development secrin
.development--inwork {
  position: absolute;
  color: rgb(0, 255, 234);
  font-size: 20px;
  font-weight: bold;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wotch {
  animation: rotate 3s infinite;
  display: inline-block;
}
