:root {
  --light-bgcolor: initial;
  --main-tcolor: initial;
  --hover-bgcolor: initial;
  --black-50: initial;
  --white-50: initial;
  --card-color: initial;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  40% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  scroll-behavior: smooth;
}
:root.light {
  --light-bgcolor: rgba(255, 255, 255, 0.907);
  --main-tcolor: initial;
  --hover-bgcolor: initial;
  --black-50: rgba(255, 255, 255, 0.81);
  --white-50: rgba(0, 0, 0, 0.583);
  --card-color: initial;
}
:root.light body {
  color: black;
  background: url("../../video/landing.mp4");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.loding {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: var(--light-second-bgcolor, rgb(16, 16, 16));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  --delay: 0;
  font-size: 1.6rem;
  font-weight: bold;
}
.loding span {
  width: 10px;
  height: 10px;
  background-color: var(--main-tcolor, gold);
  margin-left: 5px;
  border-radius: 50%;
  -webkit-animation: raise-loding 1s ease-in-out infinite both alternate;
          animation: raise-loding 1s ease-in-out infinite both alternate;
  -webkit-animation-delay: var(--delay);
          animation-delay: var(--delay);
  font-size: 2rem;
}

body {
  background-color: var(--light-bgcolor, #000000);
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

section {
  overflow: hidden;
  background-color: hsla(0deg, 0%, 0%, 0.6);
  position: relative;
  padding: 50px 25px;
  position: relative;
}
section:not(.landing) {
  min-height: 100vh;
}
section:not(.landing)::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 15px;
  left: 0;
  background-image: linear-gradient(240deg, var(--light-second-bgcolor, rgb(16, 16, 16)) 50%, transparent 50%);
  background-size: 100px;
}
section:nth-of-type(2n) {
  background-color: var(--light-second-bgcolor, rgb(16, 16, 16));
}
@media (max-width: 767px) {
  section {
    padding: 50px 15px;
  }
  section:not(.landing)::before {
    background-size: 50px;
  }
}

.bobel {
  width: 100px;
  height: 100px;
  background-color: var(--main-tcolor, gold);
  animation: raise 0.6s infinite alternate-reverse;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
}

@-webkit-keyframes raise {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes raise {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(100%);
  }
}
@-webkit-keyframes raise-loding {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes raise-loding {
  0% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.heading {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: center;
}
.heading h2 {
  position: relative;
  margin-top: 15px;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
}
.heading h2::after {
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  background-color: var(--main-tcolor, gold);
  transition: 0.3s;
  right: 0;
  bottom: 0;
}
.heading h2::before {
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  background-color: var(--main-tcolor, gold);
  transition: 0.3s;
  top: 0;
  left: 0;
}
.heading h2:hover::after {
  width: 100%;
}
.heading h2:hover::before {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
header .logo {
  font-weight: bold;
  font-size: 1.7rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  padding-left: 25px;
}
header nav {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  transition: 0.3s;
}
header ul li a {
  transition: 0.3s;
  position: relative;
  padding: 10px 15px;
  color: var(--main-tcolor, gold);
  display: block;
}
header ul li a::after {
  content: "";
  z-index: 0;
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  transition: 0.3s;
  bottom: 0;
  height: 5%;
  width: 0%;
  background-color: var(--hover-bgcolor, rgba(255, 217, 0, 0.935));
}
header ul li:hover a {
  color: white;
}
header ul li:hover a::after {
  width: 100%;
}
@media (max-width: 767px) {
  header ul {
    position: absolute;
    right: 0;
    top: 50px;
    display: block;
    width: 50%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background-color: rgba(39, 38, 38, 0.7);
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
  }
}
header ul.active {
  opacity: 1;
  transform: translate(0);
  pointer-events: all;
}
header .bars {
  display: none;
  flex-direction: column;
  width: 40px;
  align-items: flex-end;
  gap: 5px;
  cursor: pointer;
}
header .bars span {
  width: 100%;
  height: 3px;
  background-color: var(--main-tcolor, gold);
  transition: 0.3s;
}
header .bars:hover span:nth-child(2) {
  width: 70%;
}
header .bars:hover span:nth-child(3) {
  width: 40%;
}
@media (max-width: 767px) {
  header .bars {
    display: flex;
  }
}

.background-v {
  width: 100%;
  position: fixed;
  height: 100vh;
}
@media (min-width: 1200px) {
  .background-v {
    width: 100vw;
    height: auto;
  }
}

.landing {
  height: calc(100vh - 50px);
}
.landing .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.landing .container .info h2 {
  word-spacing: -2px;
}
.landing .container .info h2 span {
  font-size: 3rem;
  color: var(--main-tcolor, gold);
  display: block;
}
.landing .container .pro--img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 60px;
  overflow: hidden;
}
.landing .container .pro--img .img-box {
  position: relative;
}
.landing .container .pro--img .img-box::after {
  content: "";
  position: absolute;
  z-index: 10;
  width: 60%;
  height: 100%;
  left: 50%;
  top: 0;
  box-shadow: 0px 0px 50px -5px gold inset;
  border-radius: 50%;
  transform: translateX(-50%);
}
.landing .container .pro--img img {
  max-width: 100%;
}
.landing .container p {
  line-height: 1.5;
  color: var(--white-50, rgba(255, 255, 255, 0.81));
}
.landing .container p.work {
  font-size: 1.7rem;
}
.landing .container p.work span {
  color: var(--main-tcolor, gold);
  -webkit-animation: blink 0.6s infinite;
          animation: blink 0.6s infinite;
  border-color: var(--main-tcolor, gold);
}

@-webkit-keyframes blink {
  from {
    border-right: 2px solid;
  }
  to {
    border-right: none;
  }
}

@keyframes blink {
  from {
    border-right: 2px solid;
  }
  to {
    border-right: none;
  }
}
.serves .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.serves .container .box {
  box-shadow: 0px 0 25px 1px inset var(--card-color, #00bcd4);
  transition: 0.3s;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
}
.serves .container .box:hover {
  box-shadow: 0px 0 25px 10px inset var(--card-color, #00bcd4);
}
.serves .container .box .icon {
  color: var(--card-color, #00bcd4);
  margin-top: 10px;
}
.serves .container .box h3 {
  margin-top: 10px;
  color: var(--main-tcolor, gold);
  font-size: 1.4rem;
  text-align: center;
}
.serves .container .box p {
  line-height: 1.6;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--white-50, rgba(255, 255, 255, 0.81));
}

.project .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.project .container .box {
  text-align: center;
}
.project .container .box .box--slider {
  --photo-slide: 0;
  border: 5px solid var(--main-tcolor, gold);
  display: flex;
  overflow: hidden;
  position: relative;
}
.project .container .box .box--slider .compataple {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  font-weight: bold;
  background-color: var(--black-50, rgba(0, 0, 0, 0.583));
}
.project .container .box .box--slider .control {
  cursor: pointer;
  padding: 10px;
  background-color: var(--main-tcolor, gold);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  position: absolute;
}
.project .container .box .box--slider .control.disabled {
  background-color: #afada1;
}
.project .container .box .box--slider .control.right {
  right: 0;
}
.project .container .box .box--slider .control.left {
  left: 0;
}
.project .container .box .box--slider a {
  transition: 0.6s;
  display: flex;
  transform: translateX(calc(100% * var(--photo-slide)));
  width: 100%;
  flex-shrink: 0;
}
.project .container .box .box--slider a img {
  width: 100%;
}
.project .container .box .caption {
  font-size: 1.3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 5px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.project .container .box .caption::after {
  content: "";
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  background-color: var(--main-tcolor, gold);
  transition: 0.3s;
  bottom: 0;
  left: 0;
}
.project .container .box:hover .caption::after {
  width: 100%;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.about .container .text-box h3 {
  font-size: 1.7rem;
  margin-bottom: 15px;
}
.about .container .text-box h3 span {
  color: var(--main-tcolor, gold);
}
.about .container .text-box p {
  color: var(--white-50, rgba(255, 255, 255, 0.81));
}
.about .container .text-box p span {
  text-transform: capitalize;
  color: var(--main-tcolor, gold);
  font-size: 1.2rem;
}
.about .container .text-box p span.person {
  color: rgb(25, 255, 25);
  font-weight: bold;
}
.about .container .text-box h4 {
  font-size: 1.1rem;
  margin: 15px 10px;
}
.about .container .text-box ul {
  margin-left: 10px;
  list-style: none;
}
.about .container .text-box ul li {
  padding: 7px;
  position: relative;
}
.about .container .text-box ul li::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--main-tcolor, gold);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-clip-path: polygon(50% 0, 60% 40%, 100% 40%, 68% 60%, 90% 100%, 50% 73%, 10% 100%, 30% 60%, 0% 40%, 40% 40%);
          clip-path: polygon(50% 0, 60% 40%, 100% 40%, 68% 60%, 90% 100%, 50% 73%, 10% 100%, 30% 60%, 0% 40%, 40% 40%);
  transition: 0.45s ease;
}
.about .container .text-box ul li:hover::after {
  transform: translateY(-50%) rotate(1turn);
}
.about .container .img-box {
  position: relative;
}
.about .container .img-box img {
  width: 100%;
}

input {
  --main-tcolor: rgba(255, 217, 0, 0.9);
  background-color: transparent;
  border: 0;
  position: relative;
  border: 1px solid transparent;
  border-bottom-color: white;
}
input::before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: var(--main-tcolor, gold);
  left: 0;
  width: 100%;
  height: 0;
  height: 100%;
}
input:focus {
  outline: none;
}
input:focus::before {
  height: 100%;
}

footer {
  background-color: var(--light-second-bgcolor, rgb(16, 16, 16));
  padding: 15px;
  text-align: center;
  position: relative;
  z-index: 200;
}
footer span {
  color: var(--main-tcolor, gold);
  font-weight: bold;
}

.development--inwork {
  position: absolute;
  color: rgb(0, 255, 234);
  font-size: 20px;
  font-weight: bold;
  width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wotch {
  -webkit-animation: rotate 3s infinite;
          animation: rotate 3s infinite;
  display: inline-block;
}/*# sourceMappingURL=main.css.map */