@use "../mixens/mixen" as *;
@use "../variables/vars" as *;
:root {
  scroll-behavior: smooth;
  &.light {
    --light-bgcolor: rgba(255, 255, 255, 0.907);
    --main-tcolor: initial;
    --hover-bgcolor: initial;
    --black-50: rgba(255, 255, 255, 0.81);
    --white-50: rgba(0, 0, 0, 0.583);
    --card-color: initial;
    body {
      color: black;
    }
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: $dark_bgcolor;
  color: white;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
section {
  overflow: hidden;
  background-color: hsla(0, 0%, 0%, 0.6);
  position: relative;
  padding: 50px 25px;
  &:not(.landing) {
    min-height: 100vh;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 15px;
      left: 0;
      background-image: linear-gradient(
        240deg,
        $dark_second_bgcolor 50%,
        transparent 50%
      );
      background-size: 100px;
    }
  }
  position: relative;
  &:nth-child(2n) {
    background-color: $dark_second_bgcolor;
  }
  @include mediakuiry(mobile) {
    padding: 50px 15px;
    &:not(.landing)::before {
      background-size: 50px;
    }
  }
}

.bobel {
  width: 100px;
  height: 100px;
  background-color: $main-tcolor;
  animation: raise $trans_time * 2s infinite alternate-reverse;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
}
@keyframes raise {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(100%);
  }
}

.heading {
  @include flex-center;
  margin-bottom: 25px;
  justify-content: center;
  h2 {
    position: relative;
    margin: {
      top: 15px;
      bottom: 20px;
    }
    width: fit-content;
    font-size: 3rem;
    &::after {
      @include bsudo-heading();
      right: 0;
      bottom: 0;
    }
    &::before {
      @include bsudo-heading();
      top: 0;
      left: 0;
    }
    &:hover {
      &::after {
        width: 100%;
      }
      &::before {
        width: 100%;
      }
    }
  }
}
