@use "../variables/vars" as *;
@use "../mixens/mixen" as *;
.project {
  .container {
    @include grid-4;
    .box {
      text-align: center;
      .box--slider {
        --photo-slide: 0;
        border: 5px solid $main-tcolor;
        display: flex;
        overflow: hidden;
        position: relative;
        .compataple {
          position: absolute;
          top: 0;
          left: 0;
          padding: 5px;
          font-weight: bold;
          background-color: $black-50;
        }
        .control {
          cursor: pointer;
          padding: 10px;
          background-color: $main-tcolor;
          top: 50%;
          transform: translateY(-50%);
          font-size: 1.3rem;
          &.disabled {
            background-color: #afada1;
          }
          &.right {
            right: 0;
          }
          &.left {
            left: 0;
          }
          position: absolute;
        }
        a {
          transition: $trans_time * 2s;
          display: flex;
          transform: translateX(calc(100% * var(--photo-slide)));
          width: 100%;
          flex-shrink: 0;
          img {
            width: 100%;
          }
        }
      }
      .caption {
        font-size: 1.3rem;
        width: fit-content;
        padding-bottom: 5px;

        position: relative;
        margin: {
          top: 10px;
          bottom: 15px;
          right: auto;
          left: auto;
        }
        display: block;
        &::after {
          content: "";
          @include bsudo-heading;
          bottom: 0;
          left: 0;
        }
      }
      &:hover {
        .caption {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
