//colors
$dark_bgcolor: #000000;
$main-tcolor: gold;
$hover-bgcolor: rgba(255, 217, 0, 0.935);
$black-50: rgba(0, 0, 0, 0.583);
$white-50: rgba(255, 255, 255, 0.81);
$card-color: #00bcd4;
//trnasition
$trans_time: 0.3;
//units
$header-h: 50px;
